<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EPager</title>
</head>
<body>
<nav aria-label="epager" th:fragment="epager(prevPage, nextPage, limit)">
    <ul class="pagination">
        <li class="page-item" th:classappend="${hasPrev}? active: disabled">
            <a class="page-link" th:href="@{'/schedules/page/' + ${currentPage - 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"
               tabindex="-1" th:text="#{pager.prev.page}">Previous</a>
        </li>
        <li class="page-item active">
            <a class="page-link" href="#">
                <span th:text="${currentPage + '/' + totalPages}"></span>
            </a>
        </li>
        <li class="page-item" th:classappend="${hasNext}? active: disabled">
            <a class="page-link" th:href="@{'/schedules/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"
               th:text="#{pager.next.page}">Next</a>
        </li>
    </ul>
</nav>
</body>
</html>