<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <title>Exposition Schedule</title>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css"
          crossorigin="anonymous">

</head>
<body>
<header th:insert="parts/header.html :: header(module='schedules')">...
</header>

<div sec:authorize="hasAuthority('ADMIN')">
    <div class="container my-2">
        <h1 th:text="#{expositions.general}">Exposition Schedule</h1>
        <form action="#" th:action="@{'/schedules/page/' + ${currentPage} +
                    '?sortField=exposition.theme&sortDir=asc'}" th:object="${dates}"
              method="POST">

            <input type="date" th:field="*{dateStart}"
                   placeholder="fromDate" class="form-control mb-2 col-2">
            <input type="date" th:field="*{dateEnd}"
                   placeholder="toDate" class="form-control mb-2 col-2">

            <button type="submit" class="btn btn-info col-2" th:text="#{button.filter}">Filter</button>
        </form>
        <a th:href="@{/schedules/showNewScheduleForm}" class="btn btn-primary btn-sm mb-3" th:text="#{schedule.add}"> Add Exposition Schedule </a>
        <a th:href="@{/expositions/showNewExpositionForm}" class="btn btn-primary btn-sm mb-3" th:text="#{expositions.add}"> Add Exposition </a>

        <table border="1" class="table table-striped table-responsive-md">
            <thead>
            <tr>
                <th>
                    <a th:href="@{'/schedules/page/' + ${currentPage} + '?sortField=exposition.theme&sortDir=' + ${reverseSortDir}}"
                       th:text="#{expositions.theme}">
                        theme</a>
                </th>
                <th th:text="#{expositions.name}">
                    hall
                </th>
                <th th:text="#{expositions.date}">
                    date
                </th>
                <th th:text="#{expositions.time_start}">
                    time_start
                </th>
                <th th:text="#{expositions.time_end}">
                    time_end
                </th>
                <th>
                    <a th:href="@{'/schedules/page/' + ${currentPage} + '?sortField=exposition.price&sortDir=' + ${reverseSortDir}}"
                       th:text="#{expositions.price}">
                        price</a>
                </th>
                <th> Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="e : ${listSchedules}">
                <td th:text="${e.exposition.theme}"></td>
                <td th:text="${e.hall.name}"></td>
                <td th:text="${e.date}"></td>
                <td th:text="${e.time_start}"></td>
                <td th:text="${e.time_end}"></td>
                <td th:text="${e.exposition.price}"></td>
                <td>   <a th:href="@{/delete_schedule/${e.id}}" class="btn btn-danger" th:text="#{button.delete}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="container-sm" th:insert="parts/epager.html :: epager(${prevPage}, ${nextPage}, ${limit})">...
        </div>

    </div>
</div>
<div sec:authorize="hasAuthority('USER')">
    <div class="container my-2">
        <h1 th:text="#{expositions.general}">Exposition Schedule</h1>

        <form action="#" th:action="@{'/schedules/page/' + ${currentPage} +
                    '?sortField=exposition.theme&sortDir=asc'}" th:object="${dates}"
              method="POST">

            <input type="date" th:field="*{dateStart}"
                   placeholder="fromDate" class="form-control mb-2 col-2">
            <input type="date" th:field="*{dateEnd}"
                   placeholder="toDate" class="form-control mb-2 col-2">

            <button type="submit" class="btn btn-info col-2" th:text="#{button.filter}">Filter</button>
        </form>

        <table border="1" class="table table-striped table-responsive-md">
            <thead>
            <tr>
                <th>
                    <a th:href="@{'/schedules/page/' + ${currentPage} + '?sortField=exposition.theme&sortDir=' + ${reverseSortDir}}"
                       th:text="#{expositions.theme}">
                        theme</a>
                </th>
                <th th:text="#{expositions.name}">
                    hall
                </th>
                <th th:text="#{expositions.date}">
                    date
                </th>
                <th th:text="#{expositions.time_start}">
                    time_start
                </th>
                <th th:text="#{expositions.time_end}">
                    time_end
                </th>
                <th>
                    <a th:href="@{'/schedules/page/' + ${currentPage} + '?sortField=exposition.price&sortDir=' + ${reverseSortDir}}"
                       th:text="#{expositions.price}">
                        price</a>
                </th>
                <th> Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="e : ${listSchedules}">
                <td th:text="${e.exposition.theme}"></td>
                <td th:text="${e.hall.name}"></td>
                <td th:text="${e.date}"></td>
                <td th:text="${e.time_start}"></td>
                <td th:text="${e.time_end}"></td>
                <td th:text="${e.exposition.price}"></td>
<!--                <td>   <a th:href="@{'/schedules/buyTicket?id=' + '${e.exposition.id_exp}'" class="btn btn-danger"-->
                <td>   <a th:href="@{'/schedules/page/' + ${currentPage} + '/buyTicket?id=' + ${e.exposition.id_exp}}" class="btn btn-danger"
                          th:text="#{button.buy}">Buy</a>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="container-sm" th:insert="parts/epager.html :: epager(${prevPage}, ${nextPage}, ${limit})">...
        </div>

    </div>
</div>
<script src="/static/js/jquery-3.5.1.min.js"></script>
<script src="/static/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
</body>
</html>